--swiftversion 5.9
--binarygrouping none
--decimalgrouping none
--hexgrouping none
--indent 2 
--octalgrouping none 
--semicolons never 
--wraparguments before-first 
--wrapcollections before-first 
--wrapparameters before-first
--extensionacl on-declarations
