<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_ANON_KEY</key>
	<string>SUPABASE_ANON_KEY</string>
	<key>SUPABASE_URL</key>
	<string>https://PROJECT_ID.supabase.co</string>
</dict>
</plist>
