name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  library:
    runs-on: macos-13
    strategy:
      matrix:
        platform: 
          - iOS Simulator,name=iPhone 14 Pro Max
          - macOS
          - tvOS Simulator,name=Apple TV
          - watchOS Simulator,name=Apple Watch Series 7 (45mm)

    steps:
      - uses: actions/checkout@v3
      - name: Select Xcode 14.3
        run: sudo xcode-select -s /Applications/Xcode_14.3.app
      - name: Run tests
        run: PLATFORM="${{ matrix.platform }}" make test-library

  example:
    runs-on: macos-13
    strategy:
      matrix:
        platform: 
          - iOS Simulator,name=iPhone 14 Pro Max
    steps:
      - uses: actions/checkout@v3
      - name: Select Xcode 14.3
        run: sudo xcode-select -s /Applications/Xcode_14.3.app
      - name: Copy Secrets file
        run: cp Examples/Examples/_Secrets.swift Examples/Examples/Secrets.swift
      - name: Build example
        run: PLATFORM="${{ matrix.platform }}" make build-example