name: Release

on:
  push:
    branches:
      - main
      - release/*
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Generate token
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.GH_AUTOFIX_APP_ID }}
          private-key: ${{ secrets.GH_AUTOFIX_PRIVATE_KEY }}

      - uses: googleapis/release-please-action@v4
        id: release
        with:
          target-branch: ${{ github.ref_name }}
          token: ${{ steps.app-token.outputs.token }}
